*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 8px;
}

.header {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}


.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
}

.navbar, .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.hero {
  min-height: 400px;
  gap: 48px;

}

.hero >* {
  flex: 1;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero p {
  margin-bottom: 8px;
}

.hero .image {
  background-color: #8c8f95;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;
  min-height: 460px;
}

.info h2 {
  margin-top: 16px;
  font-size: 36px;
  font-weight: 900;
}

.boxes {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.box {
  flex-basis: 175px;
}

.box .image {
  width: 175px;
  height: 175px;
  border: 3px solid #3882f6;
  border-radius: 8px;
  margin-bottom: 8px;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  min-height: 460px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote .inner {
  flex-basis: 768px;
}

.author {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}
footer {
  background-color: #1f2937;
}